<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件过滤</title>
</head>
<body>
    <div id="root">
        <h1>人员列表</h1>
        <input type="text" placeholder="请输入姓名" v-model="keyWord">
        <button @click="sortType=2">年龄升序</button>
        <button @click="sortType=1">年龄降序</button>
        <button @click="sortType=0">原顺序</button>
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                {{p.name}}-{{p.sex}}
            </li>
        </ul>
    </div>
</body>
<script src="../js/vue.js"></script>
<script>
    // 用computed实现
    const vm =new Vue({
        el:"#root",
        data:{
            keyWord:'',
            sortType:0,//0原，1升，2降
            persons:[
                {id:'1',name:'马冬梅',age:19,sex:'女'},
                {id:'2',name:'周冬雨',age:40,sex:'女'},
                {id:'3',name:'周杰伦',age:30,sex:'男'},
                {id:'4',name:'莫天伦',age:45,sex:'男'},
            ]
        },
        computed:{
            filPersons(){
                const fil=this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord)!==-1
                })
                if(this.sortType){
                    fil.sort((a,b)=>{
                        return this.sortType===1 ? (a.age-b.age):(b.age-a.age)
                    })
                }
                return fil
            }
        }
    })
    // 用watch实现
    // const vm =new Vue({
    //     el:"#root",
    //     data:{
    //         keyWord:'',
    //         persons:[
    //             {id:'1',name:'马冬梅',sex:'女'},
    //             {id:'2',name:'周冬雨',sex:'女'},
    //             {id:'3',name:'周杰伦',sex:'男'},
    //             {id:'4',name:'莫天伦',sex:'男'},
    //         ],
    //         filPersons:[]
    //     },
    //     watch:{
    //         keyWord:{
    //             immediate:true,
    //             handler(val){
    //                 this.filPersons=this.persons.filter((p)=>{
    //                 return p.name.indexOf(val)!==-1
    //             })
    //             }
                
    //         }
    //     }
    // })
</script>
</html>