<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
</head>
<body>
    <div id="root">
        <!-- 显示与隐藏 v-show 变化很频繁时使用-->
        <div v-show="true">显示与隐藏</div>

        <!-- v-if条件渲染 中间不允许被打断-->
        <div v-if="false">v-if</div>
        <div v-else-if="false">v-else-if</div>
        <!-- v-else不用写条件 -->
        <div v-else>v-else</div>

        <!-- template不影响页面结构，其中只能只用v-if -->
        <template v-if='true'>
            <h2>1</h2>
            <h2>2</h2>
            <h2>3</h2>
        </template>
    </div>
</body>
<script src="../js/vue.js"></script>
<script>
    const vm=new Vue({
        el:"#root",
        data:{

        }
    })
</script>
</html>